@font-face {
    font-family: althertechF;
    src: url(ChakraPetch-Bold.ttf);
 }

*{

 font-family: althertechF;
}

.menu{
    color: rgba(226, 226, 226, 0.904);
    margin-top: 40px;
    font-size: 14px;
    list-style: none;
    background-color: rgba(30, 11, 199, 0.041);
    line-height: 60px;
    padding: 10px;
    padding-left: 20px;
    font-family: althertechF;
 }

 .liMenu{
    padding-left: 14px;
    margin-top: 15px;
    font-family: althertechF;
    border-radius: 5px;

 }
 .onnoff{
   background-color: rgba(40, 102, 55, 0.151);
   padding-left: 25px;
   border-radius: 11px;
}